---
import { Page2 } from "@/components/Page2";
import Layout from "@/layouts/Layout.astro";
---
<Layout>
	<div class="flex flex-col items-center overflow-hidden bg-plan max-w-md mx-0 my-auto h-full rounded-xl bg-center bg-cover ">
        <!-- <img src="/faclogo.png" class="h-17 mt-16"/> -->
	    <Page2 />
	</div>
</Layout>