---
import "../styles/global.css";
import "../styles/fonts.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Astro" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <title>SCI Openhouse 2025</title>
  </head>

  <body>
    <main class="mobile">    
      <slot />
    </main>
  </body>
</html>

<style>
  @font-face {
	font-family: soloistextra;
	src: url("https://scichulaopenhouse.com/font/soloistextraital.ttf") format("truetype");
}
@font-face {
	font-family: soloisthalf;
	src: url("https://scichulaopenhouse.com/font/soloisthalf2.ttf") format("truetype");
}
  .mobile {
    display: relative;
    max-width: 448px;
    margin: 0 auto;
    min-height: 100vh;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>